@use '../utils/variables' as *;
@use '../utils/mixins' as *;

header {
  @include flex_space_between;
  align-items: center;
  margin: 40px $margin_page 0 $margin_page;
}

nav {
  @include flex_space_between;
  width: 165px;
}

.active {
  text-decoration: underline;
  color: $orange;
}

.notActive {
  text-decoration: none;
  color: $orange;
}
