@use '../utils/variables' as *;
@use '../utils/mixins' as *;

header {
  @include flex_space_between;
  align-items: center;
  margin: 40px $margin_page 0 $margin_page;
}

nav {
  @include flex_space_between;
  width: 165px;
}

.active {
  text-decoration: underline;
  color: $orange;
}

.notActive {
  text-decoration: none;
  color: $orange;
}

@media screen and (max-width: 375px) {
  header {
    margin: $margin_mobile $margin_mobile 0 $margin_mobile;
  }
  .logo img {
    height: 47px;
    width: 145px;
  }
  nav {
    width: 140px;
    text-transform: uppercase;
  }
}
