@use '../../utils/variables' as *;

.star {
  display: flex;
  align-items: center;
  height: 36px;
  width: 36px;
  font-size: 44px;
  color: #e3e3e3;
  margin-right: 4px;
}
.active-star {
  color: $orange;
}

@media screen and (max-width: 576px) {
  .star {
    height: 18px;
    width: 18px;
    font-size: 22px;
    margin-right: 2px;
  }
}
