@use '../utils/variables' as *;

.home {
  display: flex;
  flex-wrap: wrap;
  margin-top: 43px;
  margin-bottom: 60px;
  padding-bottom: 50px;
  border-radius: 25px;
  background-color: $grey;
}

@media screen and (min-width: 577px) and (max-width: 1023px) {
  .home {
    background-color: $white;
    margin-top: 22px;
  }
}

@media screen and (max-width: 576px) {
  .home {
    justify-content: center;
    background-color: $white;
    padding-bottom: 0;
    margin-top: 22px;
  }
}
