@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.housing {
  margin: 20px $margin_page 0 $margin_page;
  &__datas {
    @include flex_space_between;
    flex-direction: column;
    margin-top: 24px;
  }
  &__data-1 {
    @include flex_space_between;
  }
  &__name-avatar {
    display: flex;
    align-items: center;
  }
  &__name {
    width: min-content;
    margin-right: 10px;
  }
  &__avatar {
    width: 64px;
    height: 64px;
    background-color: #c4c4c4;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    &-image {
      @include image-responsive;
    }
  }
  &__data-2 {
    @include flex_space_between;
    align-items: center;
  }
  &__tags {
    display: flex;
  }
  &__collapse {
    @include flex_space_between;
    & .description {
      padding-right: 76px;
    }
  }
}
