@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.housing {
  margin: 20px $margin_page 0 $margin_page;
  &__datas {
    @include flex_space_between;
    margin-top: 24px;
  }
  &__data-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  &__tags {
    display: flex;
    margin-top: 20px;
  }
  &__data-2 {
    display: flex;
    flex-direction: column;
  }
  &__name-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__name {
    width: min-content;
    margin-right: 10px;
  }
  &__avatar {
    width: 64px;
    height: 64px;
    background-color: #c4c4c4;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    &-image {
      @include image-responsive;
    }
  }
  &__rating {
    display: flex;
    margin-top: 40px;
  }
  &__collapse {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    & .closed {
      max-height: 35px;
    }
    & .description {
      overflow: hidden;
      background-color: $grey;
      margin-right: 76px;
    }
    & .equipments {
      overflow: hidden;
      background-color: $grey;
    }
    .collapse {
      border-radius: 10px;
      &__container-Housing {
        border-radius: 10px;
        padding: 30px 12px 27px 20px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  h1 {
    margin: 0;
  }
  .housing {
    margin: 27px $margin_mobile 0 $margin_mobile;
    &__datas {
      margin-top: 0;
      flex-direction: column;
    }
    &__title-loc {
      margin-top: 15px;
      & h1 {
        margin-bottom: 5px;
      }
    }
    &__tags {
      margin-top: 10px;
      flex-wrap: wrap;
    }
    & .tag {
      height: 18px;
      border-radius: 5px;
      padding: 2px 30px 1px 29px;
      margin-top: 10px;
    }
    &__data-2 {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 22px;
    }
    &__avatar {
      height: 32px;
      width: 32px;
    }
    &__rating {
      margin-top: 0;
    }
    &__collapse {
      grid-template-columns: none;
      grid-template-rows: repeat(2, 1fr);
      & .description {
        margin-right: 0;
        margin-bottom: 20px;
      }
      .collapse {
        border-radius: 5px;
        &__container-Housing {
          padding: 23px 7px 5px 11px;
        }
      }
    }
  }
}
