*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

.banner__text-Home {
  color: #FFFFFF;
  font-size: 47px;
  letter-spacing: 2px;
}

.card__link {
  text-decoration: none;
}

.card__title {
  color: #FFFFFF;
  font-size: 18px;
}

.collapse__title {
  font-size: 20px;
  font-weight: 500;
}

.collapse__text {
  font-size: 24px;
}

.error {
  color: #FF6060;
}
.error__number {
  font-size: 288px;
  font-weight: 700;
}
.error__text {
  font-size: 36px;
  line-height: 100px;
}
.error__link {
  color: #FF6060;
  font-size: 18px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 60px 60px 90px;
}

.linkActive {
  text-decoration: underline;
  color: #FF6060;
  padding-right: 45px;
}

.linkNotActive {
  text-decoration: none;
  color: #FF6060;
  padding-right: 45px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 223px;
  margin: 0 100px 43px 100px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.banner__image-Home {
  max-width: 1705px;
  position: absolute;
  z-index: 0;
  top: -465%;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}
.banner__text-Home {
  position: absolute;
  z-index: 1;
}
.banner__image-About {
  position: absolute;
  bottom: -670%;
}

.card {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6060), color-stop(205%, rgb(0, 0, 0)));
  background: linear-gradient(180deg, #FF6060 0%, rgb(0, 0, 0) 205%);
  overflow: hidden;
  margin: 42px;
}
.card__image {
  height: 340px;
  width: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__title {
  position: relative;
  left: 15px;
  bottom: 50px;
}

.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 33px;
  background-color: #F6F6F6;
}
.collapse__title_chevron {
  background-color: #FF6060;
  color: #FFFFFF;
}
.collapse__title_chevron {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 0 20px 0 16px;
}
.collapse__chevron {
  border-left: 0.3rem solid #FFFFFF;
  border-bottom: 0.3rem solid #FFFFFF;
  width: 1rem;
  height: 1rem;
  margin-top: 7px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.collapse__text {
  color: #FF6060;
  margin: 25px 27px 19px 18px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 100px;
  height: 209px;
}
footer p {
  position: absolute;
  bottom: 20px;
  font-size: 17px;
}

.Home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 100px 0 100px;
  border-radius: 25px;
  background-color: #F6F6F6;
}

.About__container {
  margin: 0 209px 0 208px;
}

.error {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error__number {
  height: 263px;
}
.error__link {
  margin-top: 75px;
}