@use '../utils/variables' as *;

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  &__image-Home {
    max-width: $max_width_img;
    position: absolute;
    z-index: 0;
    top: -1045px;
    filter: brightness(60%);
  }
  &__text-Home {
    position: absolute;
    z-index: 1;
  }
  &__image-About {
    max-width: $max_width_img;
    position: absolute;
    top: -370px;
    filter: brightness(65%);
  }
  &.banner-home {
    margin: 63px $margin_page 0 $margin_page;
  }
  &.banner-about {
    margin: 44px $margin_page 0 $margin_page;
  }
}
