@use '../utils/variables' as *;

.card {
  height: $height_card;
  width: $width_card;
  border-radius: 10px;
  background: linear-gradient(180deg, $orange 0%, rgba(0, 0, 0, 1) 205%);
  overflow: hidden;
  margin: 42px;
  &__image {
    height: $height_card;
    width: $width_card;
    object-fit: cover;
  }
  &__title {
    position: relative;
    left: 15px;
    bottom: 50px;
  }
}
