@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.card {
  height: $height_card;
  width: $width_card;
  border-radius: 10px;
  background: linear-gradient(180deg, $orange 0%, rgba(0, 0, 0, 1) 205%);
  overflow: hidden;
  margin: 50px 8px 0 50px;
  &__image {
    position: relative;
    & img {
      height: $height_card;
      width: $width_card;
      object-fit: cover;
    }
    & span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0px -115px 60px -25px rgba(0, 0, 0, 0.15);
      }
    }
  }
  &__title {
    position: relative;
    left: 15px;
    bottom: 65px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {
  .card {
    margin: 24px 24px 0 24px;
  }
}

@media screen and (min-width: 577px) and (max-width: 911px) {
  .card {
    width: $width_card_tablet;
    height: $height_card_tablet;
    & img {
      width: $width_card_tablet;
      height: $height_card_tablet;
    }
    &__title {
      padding-right: 14px;
    }
  }
}

@include mobile {
  .card {
    width: $width_card_mobile;
    height: $height_card_mobile;
    margin: 0;
    margin-bottom: 20px;
    &__image {
      height: $height_card_mobile;
    }
  }
}
