@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.collapse {
  margin-bottom: 33px;
  flex: 1;
  &__title_chevron {
    @include flex_space_between;
    align-items: center;
    background-color: $orange;
    color: $white;
    height: 35px;
    border-radius: 5px;
    padding: 0 20px 0 16px;
    cursor: pointer;
  }
  &__chevron {
    border-left: $border_chevron solid $white;
    border-bottom: $border_chevron solid $white;
    width: $size_chevron;
    height: $size_chevron;
    margin-top: 7px;
    transform: rotate(135deg);
    &.open {
      margin-bottom: 12px;
      transform: rotate(314deg);
    }
  }
  &__container {
    background-color: $grey;
    border-radius: 5px;
    //transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    &.closed {
      overflow: hidden;
      max-height: 0;
      //transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
    }
    &_text-About {
      color: $orange;
      padding: 25px 27px 19px 18px;
    }
    &_text-Housing {
      color: $orange;
      padding: 30px 12px 27px 20px;
    }
    &.description {
      padding-right: 76px;
    }
  }
}
