footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $black;
    color: $white;
    margin-top: 100px;
    height: 209px;
    p {
        position: absolute;
        bottom: 20px;
        font-size: 17px;
    }
}