header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 60px 60px 90px;
}

.linkActive {
    text-decoration: underline;
    color: $orange;
    padding-right: 45px;
}

.linkNotActive {
    text-decoration: none;
    color: $orange;
    padding-right: 45px;
}