@use '../utils/variables' as *;

* {
  font-family: 'Montserrat', sans-serif;
}

.banner__text-Home {
  color: $white;
  font-size: 48px;
  letter-spacing: 2px;
}

.card__link {
  text-decoration: none;
}

.card__title {
  color: $white;
  font-size: $title_link_size;
}

.collapse__title-About {
  font-size: 24px;
  font-weight: 500;
}

.collapse__title-Housing {
  font-size: 18px;
  font-weight: 500;
}

.collapse__container_text-About {
  font-size: 24px;
}

.collapse__container_text-Housing {
  font-size: 18px;
}

.tag {
  font-size: 14px;
}

.housing__title-loc {
  font-size: 18px;
  color: $orange;
}

.housing__name {
  font-size: 18px;
  color: $orange;
}

.error {
  color: $orange;
  &__number {
    font-size: 288px;
    font-weight: 700;
  }
  &__text {
    font-size: 36px;
    line-height: 51px;
  }
  &__link {
    color: $orange;
    font-size: $title_link_size;
  }
}
